* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: #00264d;
}

.container {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #004080;
}

.select, .add-bookmark {
    height: 30px;
}

.filter-add-form {
    margin: 20px;
}

div > label, input {
    margin-bottom: 10px;
}
ul {
    padding: 20px;
}

li {
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: slategrey;
}
.article-title {
    text-align: top;
}

.bookmarks {
    list-style: none;
}

.bookmarks > li {
    border: 1px solid black;
}

#input-form {
    text-align: left;
}

.add-bookmark {
    background-color: rgb(210, 217, 219);
    border-radius: 5px;
}

.hidden {
    display: none;
}